@charset "UTF-8";
        /* 회원가입 페이지 중 가운데 부분 */
        div#enroll-container{
            margin-top:60px;
            width:430px;
            text-align: center;
            display:inline-block;
            font-family: 'NIXGONM-Vb',바탕;
        }
        div#enroll-container>h2{
            text-align:left;
            margin-bottom:30px;
        }
        div#enroll-container a{
            text-decoration: none;
        }

        /* 가입 약관 */
        div#terms{
            display:inline-block;
            width:400px;
            height:45px;
            text-align: left;
            cursor: pointer;
            line-height: 1.8;
        }
        div#terms input{
            display:inline-block;
            width:15px;
            height:15px;
            border:1px solid rgba(0, 0, 0, 0.2);
            margin:3px;
            margin-left:5px;
        }
        div#terms div{
            display:inline-block;
            width:250px;
            height:30px;
        }
        div#terms p{
            display:inline-block;
            width:80px;
            height:30px;
            margin:3px;
            margin-left:5px;
        }
        div#terms p#seeMore{
            display:inline-block;
            width:20px;
            height:30px;
            margin:3px;
            float:right;
        }

        /* 입력창 모양 */
        div.inputDiv{
            display: inline-block;
            width:400px;
            height:45px;
            border:1px solid rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            margin:5px;
            padding-left:0;
        }
        div.inputDiv:hover{
            margin:5px;
            border:1px solid rgba(0, 0, 0, 0.7);
        }
        input.registInput{
            width:370px;
            padding-right:15px;
            padding-left: 15px;
            height:43px;
            border-radius: 5px;
            border:none;
            font-size:15px;
        }
        input.registInput#email{
            width:324px;
            height:43px;
            border-radius: 5px;
            border:none;
            font-size:15px;
            padding-left: 15px;
        }
        input.registInput:focus{
            outline: none;
        }
        small.explain{
            margin-left:15px;
            float:left;
        }

        /* 에러(입력창 아래에) 출력 */
        div.displayError{
            width:400px;
            text-align: center;
        }

        /* 가입 버튼 */
        div#btn-container{
            width:400px;
            display: inline-block;
            text-align: center;
            margin-top:30px;
            margin-bottom:10px;
            clear:both;
        }
        div#submitBtn{
            background-color: #D0CCE8;
            width:400px;
            height:40px;
            display:inline-block;
            text-align: center;
            line-height: 2.5;
            margin:none;
            border-radius: 5px;
            cursor:pointer;
            font-family: 'yg-jalnan', 고딕;
        }
        div#submitBtn:hover{
            background-color: rgb(186, 182, 206);
        }