@charset "UTF-8";
        /* 프로필 전체 내용*/
        div#myProfile-container{
            width:1000px;
            display: inline-block;
            text-align: center;
            font-family: 'NIXGONM-Vb',바탕;
        }
        div#myInfo-container{
            margin-top:30px;
        }
        img#profilePhoto{
            width:150px;
            height: 150px;
            border:1px solid  rgba(0, 0, 0, 0.2);
            border-radius: 25px;
        }
        h1#userName{
            margin-top:10px;
            margin-bottom:30px;
            font-size: 35px;
            display : inline-block;
        }

        /* 정보 변경 탭*/
        div#myProfile-menu{
            width:450px;
            display:inline-block;
            text-align: center;
        }
        div#myProfile-menu>table{
            width:450px;
            display: inline-block;
            text-align: center;
        }
        div#myProfile-menu>table>tr{
            line-height: 2;
            text-align: right;
        }

        a#outUser{
            color:black;
        }


        div#myProfile-menu>div:first-of-type{
            border-top: 1px solid  rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid  rgba(0, 0, 0, 0.2);
            padding:15px;
        }
        div#myProfile-menu>div{
            border-bottom: 1px solid  rgba(0, 0, 0, 0.2);
            padding:15px;
            width:400px;
            display:inline-block;
            cursor: pointer;
        }
        div#myProfile-menu>div:hover{
            border-bottom: 1px solid  rgba(0, 0, 0, 0.2);
            padding:15px;
            width:400px;
            display:inline-block;
            cursor: pointer;
            background-color: rgba(208,204,232,0.2);
        }

        div#myProfile-menu>div small{
            font-size:10px;
        }

        div#myProfile-menu>div>
        div#myProfile-menu>div>label>div>span{
            color : rgba(0, 0, 0, 0.1);
            font-size: 25px;
            float: right;
        }
        div#myProfile-menu>span{
            padding:5px;
            margin-left:15px;
            float: left;
            font-size:20px;
        }

        .myProfile-text{
            cursor: pointer;
            display: inline-block;
            width:370px;
            margin:0;
            padding:0;
        }
        .myProfile-btn{
            cursor: pointer;
            display: inline-block;
            width:20px;
            margin:0;
            padding:0;
        }
        .myProfile-btn>span{
            color : rgba(0, 0, 0, 0.2);
            font-size: 25px;
            float: right;
        }
        
        /* 프로필 사진 수정 위한 이미지버튼 */
        .photoBtn, #editNameBtn,#selectNameBtn{
        	width: 15px;
        	height: 15px;
        	display : none;
        	cursor: pointer;
        }
        #photoFrm,#editUserName{
        	display:none;
        }