@charset "UTF-8";
    /* 회원가입 버튼 있는 부분 */
    div#regist-container{
        margin-top:60px;
        width:430px;
        text-align: center;
        display:inline-block;
        font-family: 'NIXGONM-Vb',바탕;
    }
    div#regist-container>h2{
        text-align:left;
        margin-bottom:20px;
    }
    div#regist-container a{
        text-decoration: none;
    }

    /* 로고 넣었으면 해서 */
    div#logo-container{
        display: inline-block;
        width:400px;
        height:300px;
        line-height: 3;
        border:1px solid rgba(0, 0, 0, 0.2);
    }

    /* 회원가입 버튼 */
    div#registBtn-container{
        width:400px;
        display: inline-block;
        text-align: center;
        margin-top:10px;
        margin-bottom:10px;
        clear:both;
    }
    div#registBtn-container a{
        color:black;
    }
    div.registBtn{
        width:390px;
        height:40px;
        display:inline-block;
        text-align: center;
        line-height: 2.5;
        margin:3px;
        border-radius: 5px;
        border:1px solid rgba(0, 0, 0, 0.2);
        cursor:pointer;
        font-family: 'yg-jalnan', 고딕;
    }
    div#emailRegist{
        background-color: #D0CCE8;
        border:1px solid #D0CCE8;
    }
    div#emailRegist:hover{
        background-color: rgb(186, 182, 206);
        border:1px solid rgb(186, 182, 206);
    }
    div#naver_id_login img{
    	width:390px;
    }