@charset "UTF-8";
	#myInfo-container{
		margin-top : 100px;
		margin-bottom : 120px;
		text-align : left;
	}
	#funding-filter{
		text-align : right;
	}
	#funding-container{
		text-align : center;
	}
	#order{
		margin-top : 10px;
		margin-bottom : 20px;
		width : 200px;
	}
	.submitBtn{
		width : 100px;
	}
	#error{
		margin-top : 100px;
		margin-bottom : 80px;
	}
	.user_full_screen_background{
		height : 1500px;
	}
	#filterFrm{
		display : inline;
	}
	#funding-filter{
		margin-top : 15px;
	}
	.reward_category_content2{
		height : 1200px;
		text-align : left;
	}
	.user_contents_big{
		height : 1500px;
	}
	#mypage-container,##funding-container{
		height : 1500px;
	}
	
	.pagination{
		list-style: none;
		margin-top : 35px;
	}
	.page-item{
		display : inline-block;
		width : 30px;
		height:30px;
		line-height: 2;
		margin : 3px;
	}	
	.page-item:hover{
		opacity : 0.5;
	}
	.active>a{
		color : rgba(0,0,0,0.8);	
	}
	.active:hover{
		opacity: 1;
	}
	.page-link,.page-link1{
		text-decoration: none;
		padding : 8px;
		color : rgba(0,0,0,0.6);
		font-size: 18px;
		outline: none;
	}
	