@charset "UTF-8";
/* 폰트 */
    /* 소제목용 */
@font-face { font-family: 'NIXGONM-Vb'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff'); font-weight: normal; font-style: normal; }
    /* 버튼용 */
@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }

/* 대략적인 위치 잡기 (가운데 정렬은 text-align, display:inline-block으로 함) */
section#userSession{
    display: inline-block;
    width:100%;
    text-align:center;
}
div#userContainer{
	display: inline-block;
    width:1000px;
    margin:auto;
}

/* 입력창 모양 */
div.inputDiv{
    display: inline-block;
    width:400px;
    height:45px;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin:5px;
    padding-left:0;
}
div.inputDiv:hover{
    margin:5px;
    border:1px solid rgba(0, 0, 0, 0.7);
}
input.valueInput{
    width:370px;
    padding-right:15px;
    padding-left: 15px;
    height:43px;
    border-radius: 5px;
    border:none;
    font-size:15px;
}
input.valueInput:focus{
    outline: none;
}
small.explain{
    margin-left:15px;
    float:left;
}