@charset "UTF-8";
	#myInfo-container{
		margin-top : 100px;
		margin-bottom : 120px;
		text-align : left;
	}
	#funding-filter{
		text-align : right;
	}
	#funding-container{
		text-align : left;
		margin-bottom : 150px;
	}
	#order{
		margin-top : 10px;
		margin-bottom : 20px;
		width : 200px;
	}
	.submitBtn{
		width : 100px;
	}
	#error{
		margin-top : 100px;
		margin-bottom : 80px;
	}
	.reward_category_content_item:last-of-type{
		margin-bottom : 40px;
	}