@charset "UTF-8";
	.addressName{
	    width:100px;
	}
	.name{
	    width:70px;
	}
	.address{
	    width:400px;
	}
	.phone{
	    width:100px;
	}
	.select{
	    width:150px;
	}
	.addrBtn{
		background-color : rgba(0,0,0,0);
		border: rgba(0,0,0,0.5);
		border-radius: 3px;
	}
	#nothingInHere{
		text-align: center;
	}
	#nothingInHere>div{
		width:100%;
		height:300px;
		text-align: center;
		line-height: 7;
	}
	
	#addAddressDiv{
		margin-top : 50px;
		margin-bottom : 30px;
		height : 50px;
		padding:auto;
	}
	
	th{
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
	
	#addAddress{
        width:100px;
        background-color: white;
        color:rgba(0,0,0,0.6);
        border:1px solid rgba(0,0,0,0.2);
        padding:3px;
        border-radius: 3px;
        line-height: 1.5;
        outline: none;
    }
    #addressForm{
		padding : 10px;
		clear : both;
	}
	#addressForm>input{
		margin : 3px;
		padding:5px;
		clear:both;
	}
	#addressForm>button{
		margin : 5px;
	}
	#receiver{
		width : 200px;
	}
	#phone{
		width : 290px;
	}
	#zip-no{
		width : 70px;
	}
	#addrWhole{
		width : 250px;
	}
	#addrDetail{
		width : 500px;
	}
	#extraAddr{
		width : 158px;
	}
	#addrName{
		width : 348px;
	}
    #reshow{
    	display : inline-block;
    	border:1px solid rgba(0,0,0,0.2);
    	width : 600px;
    	height : 200px;
    	margin-bottom : 100px;
    	
    }