@charset "UTF-8";
#funding-made-container,#funding-list-container{
	text-align: left;
}
.state-light{
	border-radius: 15px;
	width : 15px;
	height : 15px;
	display : inline-block;
}
.green{
	background-color: green;
}
.yellow{
	background-color: yellow;
}
.red{
	background-color: red;
}
#funding-made-container .reward_state{
	float : right;
	margin : 10px;
}

#funding-made-filter{
	margin : 0;
	margin-top : 3px;
}
.user_full_screen_background {
	height : 1800px;
}


#funding-list-container{
	width : 48%;
	height: 50%;
	display:inline-block;
	margin:0;
}
.reward-short-info{
	width : 96%;
	height : 100px;
	border : 1px solid rgba(0,0,0,0.4);
	margin : 3px;
	text-align: center;
	margin-left : 10px;
	cursor: pointer;
}
.reward-short-info:hover{
	background-color: rgba(0,0,0,0.1);
}
.reward-photo{
	width : 100px;
	height: 100px;
	border-radius: 100px;
	display : inline-block;
	float : left;
	margin-left : 0px;
	z-index: -1;
}
.reward-short-info>div{
	display : inline-block;
}

.reward-end, .reward-state{
	margin-top : 10px;
}

.reward-name{
	margin-top : 16px;
	margin-bottom: 10px;
	width : 360px;
	text-overflow: ellipsis;
	overflow:hidden;
	white-space: nowrap;
}
#funding-detail-container{
	width : 50%;
	height: 50%;
	background-color : rgba(0,0,0,0.1);
	display:inline-block;
	margin:0;
}
#funding-detail{
	display : inline-block;
	width : 98%;
	margin:3px;
	margin-top:30px;
}
#funding-detail>div{
	display: inline-block;
	margin : 3px;
}

#detail_state{
}
#detail_deadline{
	
}
#detail_title{
	height : 40px;
	width : 90%;
}
#detail_photo{
	width : 80%;
	height : 200px;
}
#detail_support{
	width : 80%;
	height : 150px;
}
#reward-list-support{
	display: flex;
}
.col{
	flex: 1;	
}