@charset "UTF-8";

.reward_list_full_screen_background{
   			position:relative;
   			width: 100%;
   			height:100%;
   			background-color: white;
   		}
   		.reward_list_full_screen{
   			position:relative;
   			width:1000px;	
   			margin:auto;		
   			top: 70px;
   		}
   		.reward_category_list_wrap{
   			position: relative;
   			width:1000px;
   			height:100px;
   		}
   		.reward_category_list_back_button{
   			position:absolute;	
   			display:none;
   			width:60px;
   			height:60px;
   			top:15px;
   			left:30px;
	   		cursor: pointer;
	   	}
   		.reward_category_list_next_button{
   			position:absolute;	
   			width:60px;
   			height:60px;
   			top:15px;
   			left:910px;
	   		cursor: pointer;
	   	}
   		.reward_category_list{
   			position:relative;
   			width:900px;
   			height: 100px;			
			overflow: hidden;
			padding-top:10px;
   		}
   		.reward_category_list>ul{
	   		position: absolute;
   			width: 2000px;
	   		font-size:0;
	   		padding:0;
   		}
   		.reward_category_list>ul>li{
   			position:relative;
   			width:100px;
   			height:100px;
   			position:relative;
	   		display: inline-block;
	   		cursor: pointer;
	   		margin-right: 15px;
	   		text-align: center;
	   		cursor: pointer;
   		}
   		.reward_category_list>ul>li>img{
   			position:relative;
   			width:70px;
   			height:70px;
   			border-radius: 100px;
   		}
   		.reward_category_list>ul>li>p{
   			position:relative;
   			display:block;
   			font-size: 13px;
   			font-weight: bold;
   			bottom: 10px;
   		}
   		
   		.reward_list_wrap{
   			position:relative;
   			width:1000px;
   			margin-top: 60px;
   		}
   		.reward_category_head{
   			position: relative;
   			width:1000px;
   			height: 60px;
   			border-bottom:1px solid rgba(0,0,0,.1);
   		}
   		#reward_category_title{
   			position: relative;
   			display: inline-block;
   		}
   		#reward_watch_filter{
   			position: relative;
   			display: inline-block;
   			height:30px;
   			float: right;
   			margin-right: 20px;
   			margin-top: 25px;
   			border:0px;
   			outline:0px;
   			font-size: 15px;
   			font-weight: bold;
   		}
   		#reward_state_filter{
   			position: relative;
   			display: inline-block;
   			height:30px;
   			float: right;
   			margin-right: 10px;
   			margin-top: 25px;
   			border:0px;
   			outline:0px;
   			font-size: 15px;
   			font-weight: bold;
   		}
   		
   		.reward_category_content{
   			position: relative;
   			width:1000px;
   			height: 100%;
   		}
   		.reward_category_content_item{
   			position: relative;
   			display: inline-block;
   			width:320px;
   			height:380px;
   			margin-top:20px;
   			margin-right:10px;
   			border: 1px solid #e4e4e4;	
   			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
			border-radius: 2px;
			cursor: pointer;
   		}
   		.reward_category_content_item:hover{
   			box-shadow: 0 0 15px hsla(50,70%,70%,1);
   		}
   		.reward_category_content_item:nth-child(3n) {
			margin-right: -10px;
		}
		.reward_category_content_item>img{
			position: relative;
			width:320px;
			height:200px;
		}
		.reward_category_content_item_inform1{
			position: relative;
			width:300px;
			height:95px;
			margin:auto;
		}
		.category_item_punding_title{
			width: 300px;
		    height:44px;
			font-size: 18px;
			font-weight: bold;
			overflow: hidden;
		    white-space: normal;
		    text-overflow: ellipsis;
		    text-align: left;
		    line-height: 1.2;
		    word-wrap: break-word; 
		    display: -webkit-box; 
		    -webkit-line-clamp: 2; 
		    -webkit-box-orient: vertical;
		    margin: 15px 0;

		}
		.reward_category_content_item_inform1>h5{
			position: relative;
			display: inline-block;
			color: #90949c;
			margin:10px 0;
		}
		.reward_category_persentBar_background{
			position: relative;
			width:300px;
			height:3.5px;
			margin:auto;
			margin-top:5px;
			margin-bottom:5px;
			background-color: rgba(183,183,183);
		}
		.reward_category_persentBar{
			width:0px;
			max-width: 300px; 
   			height: 3.5px;
   			background-color: #000d33;
   		}
		.reward_category_content_item_inform2{
			position: relative;
			width:300px;
			height:55px;
			margin:auto;
		}
	    .category_item_punding_achievement_quotient{
		    float: left;
		}
		.category_item_punding_sum{
			color: #90949c;
			margin-left:5px;
		    float: left;
		}
		.category_item_punding_remain_date{
			color: #90949c;
		    float: right;
		}
		#reward_list_loading{
			position:relative;
			width:40px;
			left:50%;
			margin-top: 50px;
			margin-bottom: 50px;
		}
