@charset "UTF-8";

	  body{
			margin: 0;
		}
      .main_header_wrap{
         position:relative;
         width: 100%;
         height: 55px;
         background-color: white;
         border-bottom: 1px solid rgba(183,183,183,0.5);
      }
      .main_header{
      	position: relative;
      	width:1000px;
      	height: 55px;
      	margin: auto;
      }
      
      #main_header_searchbar_wrap{
      	position:absolute;
      	display: none;
      	width:1000px;
      	height:55px;
      	background-color:white;
      	z-index: 1;
      }
      #main_header_searchbar_form{
      	position: relative;
      	display: inline-block;
      }
      #main_header_searchbar_form>input{
      	position:relative;
      	width:750px;
      	height:35px;
      	margin-top: 10px;
      	margin-left:5px;
      	border:none;
      	outline: none;
      }
      ::-webkit-input-placeholder { /* Chrome */
	 	 olor: gray;
	 	 opacity: 0.7;
	 	 font-weight: bold;
		}
		:-ms-input-placeholder { /* IE 10+ */
		 color: gray;
	 	 opacity: 0.7;
	 	 font-weight: bold;
		}
		::-moz-placeholder { /* Firefox 19+ */
		 color: gray;
	 	 opacity: 0.7;
	 	 font-weight: bold;
		}
		:-moz-placeholder { /* Firefox 4 - 18 */
		 color: gray;
	 	 opacity: 0.7;
	 	 font-weight: bold;
		}
		#main_header_search_close{
			 display:inline-block;
	         position:relative;
	         width:15px;
	         height:15px;
	         border:none;
	         outline:none;
	         background: url("../../images/common/close-icon.png") no-repeat;
	         background-size: cover;
	         margin-left:180px;
	         cursor: pointer;
		}
     .main_logo{
         position:absolute;
         width:150px;
         height:45px;
         background: url("../../images/common/header/main_logo3.png") no-repeat;
         background-size: contain;
         cursor: pointer;
         left:50%; 
         transform:translateX(-50%);
         margin-top: 10px;
      }
        
       
       .main_header_search{
         display:inline-block;
         position:relative;
         width:30px;
         height:30px;
         border:none;
         outline:none;
         background: url("../../images/common/header/search_icon.png") no-repeat;
         background-size: cover;
         top:8px;
         cursor: pointer;
      }
      
      .main_header_alarm{
      	 display:inline-block;
         position:relative;
         width:30px;
         height:30px;
         border:none;
         outline:none;
         background: url("../../images/common/header/alarm2.png") no-repeat;
         background-size: cover;
         top:8px;
         cursor: pointer;
      }
      
      #main_header_user_inform{
      	 display:inline-block;
         position:relative;
         width:30px;
         height:30px;
         border:none;
         outline:none;
         background: url("../../images/common/header/user_Inform.png") no-repeat;
         background-size: cover;
         top:8px;
         margin-left:10px;
         margin-right:10px;
         cursor: pointer;
      }
      
      .main_header_user_menu_wrap{
         position:relative;
         width:390px;
         height:100%;
         text-align:center;      
         font-weight: bold;
         text-align:right;
         float: right;
      }
      .main_header_user_menu_wrap>ul{
          display:inline-block;
          padding: 0 8px;
          list-style: none;
          text-align: center;
       }
      .main_header_user_menu_wrap>ul>li{
         display:inline-block;
         margin-left:5px;
         color: rgba(0,0,0,0.6);
         cursor: pointer;
      }
      
      .main_header_punding_menu_wrap{
         display: inline-block;
         position:relative;
         width: 150px;
         height: 35px;
         border: 1px solid #512772;
         color: /* #d0cce8 */ /* #C88AF9 */ #512772;
         text-align:center;
         line-height: 35px;
         margin-top:10px;
         cursor: pointer;
      }
      .main_header_punding_menu_wrap:hover{
         background-color: #512772;
         color: white;
      }
      .main_header_punding_menu_wrap>label{
         line-height: 35px;
         cursor: pointer;
      }

  	  .slide_on_menu_button{
      	position: fixed;
        width:21px;
        height:48px;
        top:42%;
	    border:none;
        outline:none;
        background: url("../../images/common/header/menu_open.png") no-repeat;
        background-size: cover;
        cursor: pointer;
        z-index: 1002;
        opacity: 0.4;
      }
  
      .slide_menu_background{
         display:none;
         position:fixed;
         width:100%;
         height:100%;  
         background-color: rgba(0,0,0,0);
         z-index: 1001;
      }
      .slide_menu_main{
         position:relative;
         width:300px;
         height:100%;  
         text-align:left;
         background-color:#2b333d;
         box-shadow: 0 0 10px 1px;
         margin-bottom:10px;
      }
      .slide_menu_main_header{
      	height:70px;
      	background-color:#333c47;
      	margin-bottom:3px;
      }
      .slide_menu_main_header>label{
      	font-size:30px;
      	color:#a0abb9;
      	line-height:65px;
      	margin-left: 65px;
      	font-family: 'Fjalla One', sans-serif;
      }
      .slide_menu_main_content{
      	height:65px;
      	cursor:pointer;
      	margin-bottom:3px;
      }
      .slide_menu_main_content:hover,.slide_menu_main_content:hover>label{
      	background-color:#24272d;
      	color:#ffffff;
      }
       .slide_menu_main_content>label{
       	position:relative;
      	display:inline-block;
      	font-size:18px;
      	color:#a0abb9;
      	line-height:65px;
      	margin-left:20px;
      	cursor:pointer;
      }
      .slide_menu_main_content>img{
       	position:relative;
      	display:inline-block;
      	width:20px;
      	height: 20px;
      	margin-left:20px;
      	top:3px;
      }
   
      .move_top_button{
        position: fixed;
        display:none;
        width:50px;
        height:50px;
        left:92%;
        top:90%;
	    border:none;
        outline:none;
        background: url("../../images/common/header/move_top_icon.png") no-repeat;
        background-size: cover;
        cursor: pointer;
        z-index: 999;
        opacity:0.4;
      }
      
       .slide_close_menu_button:hover,.move_top_button:hover,.slide_on_menu_button:hover{
      	opacity:0.7;
      }
      
      .header_menu_mypage_content {
      	  display:none;
	      position:absolute;
	      width:300px;
	      height:250px;
		  background: #d0cce8;
		  top:65px;
		  left:50%;
		  margin-left:438px;
		  transform:translateX(-50%);
		  border-radius: 10px;
		  box-shadow: 0 0 10px 1px;
		  z-index:5;
	  }
	.header_menu_mypage_content:after {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136, 183, 213, 0);
		border-bottom-color: #d0cce8;
		border-width: 30px;
		margin-left: -30px;
	}

	.header_menu_mypage_content>img{
        position: relative;
		border-radius: 50%;
        border: 4px solid transparent;
        height: 50px;
        width: 50px;
        margin:20px 15px 0px 30px;
        background-color: #F6F6F6;
        box-shadow: 0 0 10px 2px;
	 }
	 .header_menu_mypage_content>label{
	 	position:relative;
	 	color:white;
	 	font-size: 25px;
	 	font-weight: bold;
	 	bottom: 20px;
	 }
	 .header_menu_mypage_content>button{
	 	position:relative;
	 	display: inline-block;
	 	width: 30%;
	 	height: 30px;
	 	text-align:center;
	 	margin-top:17px;
	 	margin-bottom:10px;
	 	left:9px;
	 	border-radius:5px;
	 	background-color:white;
	 	cursor: pointer;
	 	padding-top: 5px;
	 	font-weight: bold;
	 	color: gray;
	 	box-shadow: 0 0 5px 2px;
	 	border:none;
	 }
	 .header_menu_mypage_content>button:hover{
	 	opacity:0.7;
	 }
	 .header_menu_mypage_content>div{
	    width:90%;
	 	height: 30px;
	 	text-align: left;
	 	color:white;
	 	font-size:20px;
	 	font-weight: bold;
	 	margin: 5px 0 0 10px;
	 	cursor: pointer;
	 }
	 .header_menu_mypage_content>div:hover{
	 	color:gray;
	 }