@charset "UTF-8";

#adminMainPage{
        top: 45px;
        position: relative;
        width: 1000px;
        margin: 0 auto; 
        
    }
    #adminMainLeft{
        float: left;
        width: 48.5%;
        box-sizing: border-box;

    }
    #adminMainRight{
        
        float: right;
        width: 48.5%;
        box-sizing: border-box;

    }
    .adminMPTitle{
        position: relative;
        left: 7px;
        font-weight: bold;
        font-size: 16px;
    }
    .adminMPContentPlusBtn{
        position: relative;
        background-color: transparent !important;
        background-image: none !important;
        cursor: pointer;
        float: right;
        font-size: 16px;
        right: 7px;
        top: 6px;
        border: none;
    }
    .adminMPContentPlusBtn:hover{
        color: red;
    }
    .adminMPContentList{
        font-size: 14px;
    }
    .adminMPContentList>ul>li>p>a{
        color: rgb(92, 92, 92);
        text-decoration:none;
    }
    .adminMPContentList>ul>li>p>a:hover{
        color: black;
    }
    .adminMPContentDiv{
        margin-top: 38px;
    }