@charset "UTF-8";
#adminNoticePage{
        top: 60px;
        position: relative;
        width: 1000px;
        margin: 0 auto;
    }
    .adminNPTitle{
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    #adminNPOptionDiv{
        padding-top: 13px;
        text-align: right;
    }
    #adminNPOptionDiv>form>button, #adminNPOptionDiv>button{
        position: relative;
        top: 1.2px;
        cursor: pointer;
        background-color: #512772;
        color: white;
        font-size: 13px;
        height: 25px;;
        border: 1px solid black;
    }
    #adminNPBoard{
        padding-top: 4px;
    }
    #adminNPTable{
        text-align: center;
        width: 1000px;
        border-spacing:0px;

    }
    th{
    	padding: 7px;
    	font-size: 15px;
    	border-top:1px solid black;
    	border-bottom:1px solid black;
    	
    }
    td{
        padding: 4px;
        font-size: 13px;
        border-bottom:1px solid black;

    }
    .adminNPTableHeader{
        font-size: 15.5px;
        color: black;
    }
    .adminNPTableContent{
        font-size: 14px;
    }
    .adminNPTableContent>td>a{
        text-decoration: none;
        color: black;
    }
    #adminNPNoticeState{
        margin-top: 10px;
    }
    #adminNPTableDeleteBtn{
        background-color: red;
        height: 25px;
        color: white;
        border: none;
        cursor:pointer;
    }