<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>API 로컬테스트 페이지</title>
<link rel="stylesheet" type="text/css" href="../ext_lib/bootstrap-3.3.6-dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../ext_lib/bootstrap-3.3.6-dist/css/bootstrap-theme.css">
<script type="text/javascript" src="../ext_lib/jquery/jquery-2.2.2.min.js"></script>
<script type="text/javascript" src="../ext_lib/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../ext_lib/bootstrap-3.3.6-dist/js/modal.js"></script>
<link rel="stylesheet" type="text/css" href="../css/common.css"><!-- 사용자정의 css -->
<script type="text/javascript" src="../ext_lib/etc/ext_util.js"></script><!-- 외부 유틸 js -->
<script type="text/javascript" src="../js/constants.js"></script><!-- 상수 js -->
<script type="text/javascript" src="../js/common.js"></script><!-- 사용자정의 js -->
<script>
/**
 * DOM content loaded
 */
$(function(){

	resizeResultTextArea(70);
	setDefaultFieldVal();
	setFieldVal();
	bindEvents();
});

/**
 * 필드값 채우기
 */
function setFieldVal(){
	
	// 요청일시
	$('#tran_dtime').val(new Date().format('yyyyMMddHHmmss'));
}

/**
 * 버튼 이벤트 바인딩
 */
function bindEvents(){
	
	$('button[name=btnCurDate]').on('click', function(e){ bindCurDate(e); });
	$('#btnTransactionList').on('click', function(e){ inquiryTransactionList(); });
	$('#btnResultClear').on('click', function(e){ $('#resultTextArea').val(''); });
	$('#btnResultCopy').on('click', function(e){ copyClip('resultTextArea'); });
	bindAllChildrenSelect('.panel-body', 'input');
}

/**
 * 현재일자를 폼에 채운다.
 */
function bindCurDate(e){
	
	$(e.target).siblings('input[type=text]').val(new Date().format('yyyyMMdd'));
}

/**
 * 거래내역조회 수행
 */
function inquiryTransactionList(){

	if(isEmptyElem('token')){
		showMsg('Access Token을 먼저 획득해 주십시오.');
		return;
	}
	
	$.ajax({
		url: getSvrProps('base_api_uri') + '/account/transaction_list',
		type: 'get',
		headers: {
			'Authorization': ('Bearer ' + $('#token').val())
		},
		data: $('#transaction_listFrm').serialize()
	})
	.done(function(data, textStatus, jqXHR){
		if(isGatewayException(data)){ return; } // ajax 응답이 Gateway Exception일 경우 이후 처리를 종료한다.		
		
		// UI에 결과값 바인딩
		$('#resultTextArea').val(js(data));
	});
}

</script>
</head>

<body>

	<div class="childWrap">
	
		<div class="panel panel-primary">
		
			<!-- 컨텐츠 영역의 타이틀 -->
			<div class="panel-heading">
				<h3 id="pageTitle" class="panel-title" title="transaction_list">/account/transaction_list</h3>
			</div>
		
			<!-- 컨텐츠 영역 -->
			<div class="panel-body">

				<div class="fieldRow">
					<div>Access Token:</div>
					<div>
						<input type="text" class="input-sm" id="token" name="token"></input> (inquiry scope token 필요)
					</div>
				</div>
					
				<form id="transaction_listFrm">
	
					<div class="fieldRow">
						<div>핀테크이용번호</div>
						<div><input type="text" class="input-sm" id="fintech_use_num" name="fintech_use_num" style="width:220px"></input></div>
					</div>

					<div class="fieldRow">
						<div>조회구분코드</div>
						<div>
							<select id="inquiry_type" name="inquiry_type" class="form-control" style="height:26px; font-size:14px; padding:1px 3px">
								<option value="A">ALL(A)</option>
								<option value="I">입금(I)</option>
								<option value="O">출금(O)</option>
							</select>
						</div>
					</div>
					
					<div class="fieldRow">
						<div>조회시작일자</div>
						<div>
							<input type="text" class="input-sm" id="from_date" name="from_date" style="width:95px"></input>
							<button type="button" name="btnCurDate" class="btn btn-sm btn-primary" style="margin-left:4px">현재일자</button>
						</div>
					</div>

					<div class="fieldRow">
						<div>조회종료일자</div>
						<div>
							<input type="text" class="input-sm" id="to_date" name="to_date" style="width:95px"></input>
							<button type="button" name="btnCurDate" class="btn btn-sm btn-primary" style="margin-left:4px">현재일자</button>	
						</div>
					</div>

					<div class="fieldRow">
						<div>정렬순서</div>
						<div>
							<select id="sort_order" name="sort_order" class="form-control" style="height:26px; font-size:14px; padding:1px 3px">
								<option value="D">역순(D)</option>
								<option value="A">순차(A)</option>
							</select>						
						</div>
					</div>

					<div class="fieldRow">
						<div>페이지번호</div>
						<div><input type="text" class="input-sm" id="page_index" name="page_index" style="width:80px"></input></div>
					</div>

					<div class="fieldRow">
						<div>요청일시</div>
						<div><input type="text" class="input-sm" id="tran_dtime" name="tran_dtime" style="width:135px"></input></div>
					</div>

					<div class="fieldRow">
						<div>직전조회추적정보</div>
						<div><input type="text" class="input-sm" id="befor_inquiry_trace_info" name="befor_inquiry_trace_info" style="width:220px"></input></div>
					</div>

					<div class="fieldRow">
						<div>최종거래내역순번</div>
						<div><input type="text" class="input-sm" id="list_tran_seqno" name="list_tran_seqno" style="width:220px"></input></div>
					</div>
					
				</form>
				
				<div class="fieldRow" style="display:table; width:100%; height:100%; margin-top:20px">
					<div style="display:table-cell; vertical-align:middle">거래내역조회 결과</div>
					<div style="width:100%; height:100%; margin-top:-12px">
						<button type="button" id="btnTransactionList" class="btn btn-sm btn-primary" style="margin-left:4px">거래내역조회 수행</button>
						<button type="button" id="btnResultClear" class="btn btn-sm btn-primary" style="float:right; margin-bottom:5px; margin-left:5px">clear</button>
						<button type="button" id="btnResultCopy" class="btn btn-sm btn-primary" style="float:right; margin-bottom:5px">copy</button>
						<textarea id="resultTextArea" class="form-control" style="display:table-cell; width:100%; height:100%; margin-left:3px"></textarea>
					</div>
				</div>
				
			</div><!-- // panel-body -->
			
		</div><!-- // panel panel-primary -->
		
	
	</div>
			
</body>
</html>