<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="account">

	<select id="selectRewardAccount" parameterType="int" resultType="map">
		SELECT * FROM TB_REWARD_ACCOUNT WHERE REWARD_NO=#{rewardNo}
	</select>
	
	<delete id="deleteRewardAccount" parameterType="Map">
		DELETE FROM TB_REWARD_ACCOUNT WHERE REWARD_NO=#{rewardNo}
	</delete>
	
	<insert id="insertRewardAccount" parameterType="Map">
		INSERT INTO TB_REWARD_ACCOUNT VALUES(#{rewardNo},#{fintech_use_num},#{account_num_masked},#{bank_code_std},#{bank_name},#{user_token},#{user_refresh_token},#{user_seq_no},#{account_holder_name},#{account_alias})
	</insert>
	
	<select id="selectLoadUserAccount" parameterType="int" resultType="map">
		SELECT * FROM TB_USER_ACCOUNT WHERE USER_NO=#{userNo}
	</select>
</mapper>
