<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ad">
	<select id="selectAdList" resultType="Map">
		SELECT A.*, B.REWARD_SYNOPSIS,B.REWARD_SHORT_NAME,B.REWARD_REPRESENT_IMAGE,B.REWARD_MC_NAME 
		FROM TB_REWARD_ADVERTISEMENT A INNER JOIN TB_REWARD B ON A.REWARD_NO=B.REWARD_NO
		WHERE SYSDATE BETWEEN REWARD_AD_START_DATE AND REWARD_AD_END_DATE 
		ORDER BY REWARD_AD_START_DATE DESC
	</select>
</mapper>
