<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="message">
	<resultMap type="map" id="messageMap"></resultMap>
	<!-- 메시지 리스트 불러오기 -->
		<select id="selectMessage" parameterType="_int" resultMap='messageMap'>
			SELECT USER_NO, USER_MESSAGE_CONTENT FROM (SELECT USER_NO, USER_MESSAGE_CONTENT, USER_MESSAGE_DATE FROM TB_USER_MESSAGE_LOG WHERE USER_MESSAGE_NO=(SELECT USER_MESSAGE_NO FROM TB_USER_MESSAGE WHERE USER_NO=#{USER_NO}) AND USER_NO!=#{USER_NO} AND ROWNUM=1) ORDER BY USER_MESSAGE_DATE DESC;
		</select>
	<!-- 메시지 로그 불러오기 -->
		<select id='selectMessageLog' parameterType="map" resultMap='messageMap'>
			SELECT * FROM TB_USER_MESSAGE_LOG WHERE USER_MESSAGE_NO=#{USER_MESSAGE_NO} ORDER BY USER_MESSAGE_DATE DESC
		</select>
		
	<!-- 메시지 전송하기 -->
		<!-- 메시지 입력하기 -->
			<insert id="insertMessage" parameterType='map'>
				<selectKey keyProperty="USER_MESSAGE_NO" resultType="map" order="BEFORE">
					SELECT USER_MESSAGE_NO FROM (SELECT USER_MESSAGE_NO FROM TB_USER_MESSAGE WHERE USER_NO=#{TARGET_USER_NO} AND USER_MESSAGE_NO IN (SELECT USER_MESSAGE_NO FROM TB_USER_MESSAGE WHERE USER_NO=#{USER_NO}));
				</selectKey>
				INSERT ALL
					<if test='#{USER_MESSAGE_NO}!=NULL'>
						INTO TB_USER_MESSAGE_LOG VALUES(SEQ_USER_MESSAGE_LOG_NO.NEXTVAL, #{USER_MESSAGE_NO}, #{USER_NO}, #{USER_MESSAGE_CONTENT}, SYSDATE)
					</if>
					<if test='#{USER_MESSAGE_NO}==NULL'>
						INTO TB_USER_MESSAGE VALUES(SEQ_USER_MESSAGE_NO.NEXTVAL, #{USER_NO}, 1})
						INTO TB_USER_MESSAGE_LOG VALUES(SEQ_USER_MESSAGE_LOG_NO.NEXTVAL, NVL(#{USER_MESSAGE_NO},SEQ_USER_MESSAGE_NO.CORRVAL), #{USER_NO}, #{USER_MESSAGE_CONTENT},SYSDATE)
					</if>
				SELECT * FROM DUAL
			</insert>
		 <!-- 다시 메시지 보이게 하기 -->
		 	<update id="reShowMessage">
		 		UPDATE TB_USER_MESSAGE SET SHOW_MESSAGE = 1 WHERE USER_MESSAGE_NO=#{USER_MESSAGE_NO}
		 	</update>
		 	
	<!-- 메시지 삭제하기 : 해당 유저(메시지 삭제한 유저)한테 안보이게 하기-->
		<update id="updateMessage" parameterType='map'>
			UPDATE TB_USER_MESSAGE SET SHOW_MESSAGE = 2 WHERE USER_NO=#{USER_NO} AND USER_MESSAGE_NO=#{USER_MESSAGE_NO} 
		</update>
	
</mapper>
