<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reward">

	
	<select id="selectRewardCategoryMap" resultType="Map">
		SELECT REWARD_CATEGORY_NO AS categoryNo, REWARD_CATEGORY_NAME as categoryName FROM TB_REWARD_CATEGORY
	</select>
	
	<insert id="insertProjectReward">
		INSERT INTO 
	</insert>
	
	<select id="selectRewardList" parameterType="Map" resultType="Map">
		SELECT A.*,REWARD_DEADLINE-TRUNC(SYSDATE) AS REWARD_REMAIN_DATE FROM TB_REWARD A
		WHERE REWARDSTATE=#{rewardState}
		<if test="categoryNum!=0">
			AND REWARD_CATEGORY_NO=#{categoryNum}
		</if>
		<choose>
		<when test="listFilter==1">
			ORDER BY REWARD_ENROLL_DATE DESC
		</when>
		<when test="listFilter==2">
			ORDER BY REWARD_REMAIN_DATE ASC
		</when>
		<when test="listFilter==3">
			ORDER BY REWARD_GOAL DESC
		</when>
		</choose>
	</select>

</mapper>
