<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reward">

	
	<select id="selectRewardCategoryMap" resultType="Map">
		SELECT REWARD_CATEGORY_NO AS categoryNo, REWARD_CATEGORY_NAME as categoryName FROM TB_REWARD_CATEGORY
	</select>
	
	<insert id="insertProjectReward">
		INSERT INTO 
	</insert>
	
	<select id="selectRewardList" parameterType="Map" resultType="Map">
		SELECT C.*,REWARD_DEADLINE-TRUNC(SYSDATE) as REWARD_REMAIN_DATE,(SELECT SUM(B.REWARD_ITEM_PRICE+A.REWARD_SUPPORT_ADD_DONATION) FROM TB_REWARD_SUPPORT A INNER JOIN TB_REWARD_ITEM B USING (REWARD_ITEM_NO) WHERE C.REWARD_NO=B.REWARD_NO GROUP BY B.REWARD_NO) AS REWARD_PRESENT_COLLECTION,D.REWARD_CATEGORY_NAME 
		FROM TB_REWARD C INNER JOIN TB_REWARD_CATEGORY D ON C.REWARD_CATEGORY_NO=D.REWARD_CATEGORY_NO
		WHERE REWARD_STATE=#{rewardState}
		<if test="categoryNum!=0">
			AND C.REWARD_CATEGORY_NO=#{categoryNum}
		</if>
		<choose>
		<when test="listFilter==1">
			ORDER BY REWARD_ENROLL_DATE DESC
		</when>
		<when test="listFilter==2">
			ORDER BY REWARD_REMAIN_DATE ASC
		</when>
		<when test="listFilter==3">
			ORDER BY REWARD_GOAL DESC
		</when>
		</choose>
	</select>

</mapper>
